<div class="row" >

    <div *ngFor="let field of fields" class="col-12 col-md-4" >

      <mat-form-field appearance="outline"
      class="w-100 mb-3"
      *ngIf="
      field.fieldType === 'text' ||
      field.fieldType === 'number' ||
      field.fieldType === 'email'
      ">
        <mat-label>{{field.displayLabel}}</mat-label>
        <input matInput  type="{{field.fieldType}}" (change)="field.value = field.formControl.value" [formControl]="field.formControl" >
        <mat-icon matSuffix class="successColor" *ngIf="field.formControl.valid && field.formControl.touched">check_circle</mat-icon>
        <mat-icon matSuffix class="errorColor" *ngIf="!field.formControl.valid && field.formControl.touched">error</mat-icon>
        <mat-error *ngIf="field.formControl.invalid">{{field.validationLabel}}</mat-error>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="field.fieldType === 'date'" appearance="outline">
        <mat-label>{{field.displayLabel}}</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="field.value = field.formControl.value" [formControl]="field.formControl" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error *ngIf="field.formControl.invalid">{{field.validationLabel}}</mat-error>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"
      class="w-100 mb-3"
      *ngIf="field.fieldType === 'select'"
      >
        <mat-label>{{field.displayLabel}}</mat-label>
        <mat-select (selectionChange)="field.value = field.formControl.value" [formControl]="field.formControl">
          <mat-option *ngFor="let option of field.options" [value]="option.id">{{option.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="field.formControl.invalid">{{field.validationLabel}}</mat-error>
      </mat-form-field>

      <section
      class="w-100 mb-3 d-flex flex-column"
      *ngIf="field.fieldType === 'checkbox'">
        <mat-label>{{field.displayLabel}}</mat-label>
        <mat-checkbox (change)="field.value = field.formControl.value" [formControl]="field.formControl">{{field.displayLabel}}</mat-checkbox>
        <div class="text-danger" *ngIf="field.formControl.touched && field.formControl.invalid">{{field.validationLabel}}</div>
      </section>

      <mat-radio-group *ngIf="field.fieldType === 'radio'" class="d-flex flex-column" (change)="field.value = field.formControl.value" [formControl]="field.formControl">
        <mat-label>{{field.displayLabel}}</mat-label>
        <mat-radio-button *ngFor="let option of field.options" [value]="option.id">{{option.label}}</mat-radio-button>
        <div class="text-danger" *ngIf="field.formControl.touched && field.formControl.invalid">{{field.validationLabel}}</div>
      </mat-radio-group>

    </div>


</div>

